.eventContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  background-image: url("../../../assets/myr3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.331);
}

.title {
  font-family: "Shrikhand", serif;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .eventContainer {
    min-height: 100vh;
  }
}
