.eventContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  position: relative;
  background-image: url("../../../assets/minimyr1.jpg");
  background-repeat: repeat;
  background-size: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(186, 178, 178, 0.7);
}

.title {
  font-family: "Shrikhand", serif;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}

@media (max-width: 768px) {
  .eventContainer {
    min-height: 100vh;
  }
}
