.bodyContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  width: 70vw;
  margin: auto;
}

.description {
  font-family: "Pixelify Sans", sans-serif;
  font-size: 1.3rem;
  max-width: 80%;
  text-align: center;
}

.event {
  font-size: 1.6rem;
  padding: 5px;
  width: 300px;
}

.date {
  font-size: 1.4rem;
  margin-left: 20px;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
}

@media (max-width: 768px) {
  .event {
    font-size: 1.3rem;
    width: 140px;
  }

  .date {
    font-size: 1.2rem;
    margin-left: 4px;
  }

  .heading {
    font-size: 0.7rem;
    width: 70vw;
  }
}
