.bodyContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 150px;
  width: 70vw;
  margin: auto;
}

.description {
  font-family: "Pixelify Sans", sans-serif;
  font-size: 1.3rem;
  max-width: 60%;
  text-align: center;
}

.event {
  font-size: 1.5rem;
  padding: 5px;
  max-width: 27%;
  min-width: 27%;
}

.date {
  font-size: 1.4rem;
  margin-left: 20px;
}

.img {
  width: 120px;
  height: 80px;
  margin: auto;
  border-radius: 5px;
  display: block;
  flex-shrink: 0;
}

.bodyImg {
  width: 40%;
  margin-right: auto;
  border-radius: 25%;
  margin: auto;
}

.heading {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70vw;
}

@media (max-width: 768px) {
  .event {
    font-size: 1rem;
    width: 130px;
    padding: 5px;
  }

  .date {
    font-size: 1rem;
    margin-left: 8px;
  }

  .heading {
    font-size: 0.8rem;
    width: 80%;
    min-height: 60px;
    max-height: 60px;
    margin-bottom: 8px;
  }

  .img {
    width: 80px;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
  }

  .bodyContent {
    margin-top: 8px;
    width: 80%;
  }

  .description {
    font-size: 1rem;
    max-width: 90%;
    text-align: center;
  }
}
