.nav {
  font-family: "Shrikhand", serif;
  font-size: 1.6rem;
  padding: 10px;
}

#navbarNav {
  display: flex !important;
  justify-content: flex-end !important;
  align-items: center;
}

.nav-link {
  margin-left: 50px;
  display: flex;
}

.custom-nav-item {
  padding: 20px !important;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  margin-right: 10px;
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end !important;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-form .form-control {
  margin-right: 10px;
}

.nav-link img,
.nav-link svg {
  margin-right: 10px;
}

.nav-item-custom {
  margin-left: 20px;
}
@media (max-width: 768px) {
  .navbar-nav {
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
  }

  .search-form {
    margin-left: 0;
  }

  #navbarNav {
    justify-content: center !important;
    align-items: center !important;
  }

  .navbar-collapse {
    text-align: center !important;
  }

  /* Add a more specific selector to target nav links */
  .navbar-nav .nav-link {
    margin: 10px 0 !important;
    text-align: center !important;
    width: 100% !important;
  }
}
