.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 100px;
}

.nav-item {
  margin-bottom: 20px; /* Adjust the margin bottom to add space between Nav items */
}

.nav-link {
  color: black; /* Apply color directly to nav-link */
}
