.category {
  display: flex;
  flex-direction: column;
  font-family: "Pixelify Sans", sans-serif;
  padding: 10px;
  margin-top: 5px;
}

h3 {
  font-size: 2rem;
}

h2 {
  font-size: 3rem;
}

.mainCategory {
  width: 90vw;
  font-family: "Pixelify Sans", sans-serif;
  font-size: 0.8rem;
}

@media (max-width: 768px) {
  .mainCategory {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .category {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .category button {
    margin: 5px;
  }

  .categoryTracks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
